<div class="container-fluid landing-parent section" id="home">
  <div class="content container d-flex align-items-center justify-content-between">
    <img src="code.png" alt="" class="code-img">
    <div class="left-content col-12 col-md-6 text-center px-3">
      <h3>Full-stack Web Developer</h3>
      <h1>Gerges <br><span>Farag</span></h1>
      <p>I am a Fullstack Web Developer and Computer Science Student at ASU</p>
    </div>
    <div class="right-content col-12 col-md-6 position-relative d-flex justify-content-center align-items-center">
      <img src="person.png" alt="Gerges" class="person-img position-absolute" />
      <a href="https://media.licdn.com/dms/document/media/v2/D4D2DAQEWA1GlDqRH0w/profile-treasury-document-pdf-analyzed/profile-treasury-document-pdf-analyzed/0/1733948402888?e=1738800000&v=beta&t=kP-cprolZKjBti5dpwEarRzCVWS91NTymY3JEoIM42Y" target="_blank">
        <button type="button" class="cv-button">
          <i class="fa-solid fa-download fs-3"></i><br />
          Download CV
        </button>
      </a>
    </div>
  </div>
</div>
