<div class="nav-parent d-none d-md-inline-flex">
    <div class="content">
        <div class="nav-item">
            <a href="#home" class="active first"><i class="fa-solid fa-house"></i></a>
        </div>
        <div class="nav-item">
            <a href="#about"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="nav-item">
            <a href="#skills"><i class="fa-solid fa-code"></i></a>
        </div>
        <div class="nav-item">
            <a href="#projects"><i class="fa-brands fa-stack-overflow"></i></a>
        </div>
        <div class="nav-item">
            <a href="#hire" class="last"><i class="fa-solid fa-envelope"></i></a>    
    </div>
</div>