.hire-parent {
    background: url('/about-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    color: rgb(235, 235, 235);
    padding-top: 2rem;
  }
  
  h1 {
    font-family: 'MADE Outer Sans Alt', sans-serif;
    text-transform: uppercase;
    font-size: 4.375rem;
  }
  
  .content {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .left-content {
    padding: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
  }
  
  form label {
    margin-block: 1rem;
    text-align: start;
  }
  
  form input,
  form textarea {
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
    outline: none;
    border: none;
    resize: none;
    background-image: linear-gradient(45deg, #270029, #510052);
    caret-color: white;
    color: white;
    text-align: start;
  }
  
  form button {
    padding: 0.625rem 1.25rem;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1.25rem;
    margin-top: 1.25rem;
    width: 50%;
    margin-inline: auto;
    transition: 0.5s ease;
  }
  
  form button:hover {
    background-color: #830d73;
  }
  
  .right-content {
    padding: 1rem;
    text-align: center;
  }
  
  .right-content img {
    width: 100%;
    max-width: 30rem;
    object-fit: cover;
  }
  
  @media (max-width: 767px) {
    h1 {
      font-size: 3rem;
    }
  
    .content {
      flex-direction: column;
      text-align: center;
    }
  
    .left-content form {
      max-width: 100%;
    }
  
    .right-content img {
      max-width: 20rem;
    }
  }
  