<div class="hire-parent section" id="hire">
    <h1 class="container text-center">Hire Me</h1>
    <div class="content container d-flex flex-column flex-lg-row align-items-center">
      <div class="left-content col-12 col-lg-6 p-3">
        <form>
          <label for="name">Full name*</label>
          <input type="text" placeholder="Enter Your Full Name..." required name="name">
          <label for="email">Email*</label>
          <input type="email" placeholder="Enter Your Email..." required name="email">
          <label for="message">Message*</label>
          <textarea placeholder="Enter Your Message..." required name="message" rows="8"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="right-content col-12 col-lg-6 p-3 text-center">
        <img src="hire-img.png" alt="Hire Me" class="img-fluid" loading="lazy">
      </div>
    </div>
  </div>
  